body {
  background-color: hsl(30, 38%, 92%);
}
.card {
  background-color: white;
  border-radius: 15px;
  height: 400px;
  width: 525px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
}
img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 400px;
}
span {
  margin-top: 25px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 3px;
  color: hsl(228, 12%, 48%);
}
.content {
  display: flex;
  flex-direction: column;
}

.header {
  margin-left: 18px;
  width: 200px;
  font-size: 30px;
  font-family: "Fraunces", serif;
  margin-top: 15px;
}

.paragraph {
  margin-left: 20px;
  margin-top: -10px;
  width: 200px;
  font-size: 13px;
  line-height: 1.6;
}
