* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  color: hsl(234, 12%, 34%);
}
.container {
  width: 345px;
  margin: 90px auto 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading1 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
}
.heading2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.description {
  font-size: 17px;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 90px;
}
p {
  font-size: 15px;
}
h2 {
  font-size: 20px;
}
.card {
  height: 230px;
  width: 325px;
  position: relative;
  box-shadow: 0px 5px 20px hsl(229, 6%, 66%);
  border-top: 2px solid red;
  border-radius: 5px;
}
.card1 {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.card2 {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.card3 {
  border-top: 3px solid hsl(34, 97%, 64%);
}
.card4 {
  border-top: 3px solid hsl(212, 86%, 64%);
}
main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.verticalCards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cardDescription {
  font-weight: 200;
  padding-left: 20px;
}
img {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.cardHeading {
  padding-top: 20px;
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    margin: 90px auto 40px auto;
  }
  header {
    width: 600px;
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
